
html body > div > div {
    width: 50%;
    margin-left: 25%;
}

/* In portrait (820x1180 or 1024x1366) */
@media only screen and (orientation: portrait) and (
    ((max-device-width: 820px) and (max-device-height: 1180px)) or 
    ((max-device-width: 1024px) and (max-device-height: 1366px))
) {
    html body > div > div {
        width: 100%;
        margin-left: 0%;
    }
}
/* For Surface in portrait */
@media only screen and (max-device-width: 912px) and (max-device-height: 1368px) and (orientation: portrait) {
    html body > div > div {
        width: 100%;
        margin-left: 0%;
    }
}
/* In portrait */
@media only screen and (orientation: portrait) and (
    ((max-device-width: 360px) and (max-device-height: 740px)) or 
    ((max-device-width: 390px) and (max-device-height: 844px)) or 
    ((max-device-width: 412px) and (max-device-height: 915px)) or 
    ((max-device-width: 414px) and (max-device-height: 736px)) or 
    ((max-device-width: 414px) and (max-device-height: 896px)) or 
    ((max-device-width: 480px) and (max-device-height: 854px)) or 
    ((max-device-width: 600px) and (max-device-height: 960px)) or 
    ((max-device-width: 800px) and (max-device-height: 1280px))
) {
    html body > div > div {
        width: 100%;
        margin-left: 0%;
    }
}
/* In landscape */
@media only screen and (orientation: landscape) and (
    ((max-device-width: 736px) and (max-device-height: 414px)) or 
    ((max-device-width: 740px) and (max-device-height: 360px)) or 
    ((max-device-width: 844px) and (max-device-height: 390px)) or 
    ((max-device-width: 854px) and (max-device-height: 480px)) or 
    ((max-device-width: 896px) and (max-device-height: 414px)) or 
    ((max-device-width: 915px) and (max-device-height: 412px)) or 
    ((max-device-width: 960px) and (max-device-height: 600px)) or 
    ((max-device-width: 1180px) and (max-device-height: 820px)) or 
    ((max-device-width: 1280px) and (max-device-height: 800px)) or 
    ((max-device-width: 1366px) and (max-device-height: 1024px)) or 
    ((max-device-width: 1368px) and (max-device-height: 912px))
) {
    html body > div > div {
        width: 80%;
        margin-left: 10%;
    }
}
